{#
---
title: Document Name
---
#}
{% for pattern in patterns %}
	<h1>{{pattern.name}}</h1>
	{% for item in pattern.items %}
		<h2>{{item.name}}</h2>
  {% endfor %}
{% endfor %}

{% for view in views %}
	<h1>{{view.name}}</h1>
	{% for item in view.items %}
		<h2>{{item.name}}</h2>
  {% endfor %}
{% endfor %}
